#banner
{
    background-image: linear-gradient(to right, #000428, #004e92); 
    color: #fff;
    padding-top: 5%; 
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
}
#banner a
{
    color: #fff;
    text-decoration: none;
}
.bottom-img
{
    width: 100%;
}
/*-----------services section--------------*/

#services
{
    padding: 80px 0;
}
.service-img
{
    width: 100px;
    margin-top: 20px;
}
.services
{
    padding: 20px;
}
.services h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before
{
    content: '';
    background: #004e92;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);    
}
.title::after
{
    content: '';
    background: #004e92;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);    
}


/*---------------about-us section--------------*/

#about-us
{
    background:#F2F3F9;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li
{
    margin: 10px 0;
}

#about-us ul
{
    margin-left: 20px;
}