:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
.my-img{
    padding:10%;
}
.bg-grey{
    background:#F2F3F9;
}
.col-md-6{
    margin-top:5%;
    margin-bottom:5%;
}
.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin {
    padding: 2rem;
}
.card-body{
    padding:2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    width: 70%;
}

.form-group input{
    border-radius:2rem;
}
.input-group > .form-control:not(:first-child){
    border-radius:2rem;
}